.projects-container{
    padding:100px 10px;
    background:#2d313b;
    margin-top: 100px;
}
.project-section-title{
    color:#22e6b8;
    text-align: center;
    font-family: 'Averia Serif Libre', cursive;
    margin-bottom:50px;
}